{% extends "layout.html" %}
{% block content %}

<h1> **** </h1>

    <form class="ui form small" method="get">

        <select class="ui inline dropdown" style="width: 110; height: 32.5" name="table_filter" onchange="if (this.value) window.location.href=this.value">
            
             <option   selected="selected"  value="stock" > Stock </option>
                                    
         </select>

       
                <div class="ui horizontal label" style="float: right;"> # Tickers: {{count}}</div>


        </form>


























    <table class="ui teal table" id="dtab">
    <thead>
        <tr>
          <th>Ticker</th>
          <th>Name</th>
          
        </tr>
    </thead>

    <tbody>

      {% for symbol in symbols %}
      <tr>

            <td><a href="/app/stockprices/{{active}}/{{symbol.ticker}}"> {{symbol.ticker}}</a></td>
            <td>{{symbol.name}}</td>
      </tr>
      {% endfor %}





    </tbody>



    <tfoot>
    <tr><th colspan="12">
      
    </th>
  </tr></tfoot>

    </table>




{% endblock %}



</html>

