<html>
<head>

    <title>Stocks</title>

    <link rel="stylesheet" href="{{url_for('static',path='/css/semantic.min.css')}}" >
    <script src="{{url_for('static',path='/jQuery-3.3.1/jquery-3.3.1.min')}}"></script>
    <script src="{{url_for('static',path='/js/semantic.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',path='/css/datatables.min.css')}}">
    <script type="text/javascript" src="{{url_for('static',path='/js/datatables.min.js')}}"></script>



</head>

    <body>
        

        <div class="ui secondary pointing menu">
          <a href="/app"
             class="active item">
            Symbols
          </a>
          <a href="/app/dash" class="item"> Dash </a>


          <div class="ui simple dropdown">
          

                <div class="menu" >
                  <a href="/app/dash" class="item"> Streamlit Dashboard </a>
                  


                
                  <a href="/streamlit" class="item"> Streamlit Dashboard </a>
                  
                
                </div>


          </div>

          <a href="/orders" class="item">
            Order History
          </a>
          <a href="/fundamentals" class="item">
            simFin
          </a>

          <div class="right menu">
            <a class="ui item">
              AI for Trading
            </a>
          </div>

        </div>

        <div class="ui container">

        {% block content %}

        {% endblock %}

        </div>



    </body>
    <script type="text/javascript">
      $(document).ready(function() {



        $(document).ready(function() {
          $('#dtab').DataTable( {
        "paging":   false,
        
         } );} );

        

       





      });

    </script>